*{
  margin: 0px;
  padding: 0px;
}

.container{

    display: flex;
    flex-direction: row;
    text-align: center;
}

.container > div{
  color: rgb(9, 9, 9);
  margin: 15px;
  padding: 20px;
  font-size: 30px;
  text-align: justify;
  gap: 10px;

    
}
.container > .bibliografia:hover{
  cursor: pointer;
  
  }

  .container > .Contenedor-foto{
    font-size: large;
  }
  .container .caja-foto img{
      width: 150px;
      margin: 10px;
      padding: 3px;
  }

h2{
  color: blue;
}
.Contenedor-foto u{
  font-size: 19px;
}

.container .bibliografia{
  margin-right: 85px;
}